colors {
    color: #7388DA;
    color: #F6F6F7;
    color: #95A4AF;
    color: #424549;
    color: #36383F;
    color: #292B31;
    color: #1F2024;
}

CSS RESET BY MYE WEB

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
  all: unset;
}
a:hover {
    cursor: pointer;
}
html {
    height: -webkit-fill-available;
}
body {
    min-height: 100%;
    min-height: -webkit-fill-available;
    min-width: 100%;
    min-width: -webkit-fill-available;
}
/*  */
/*  Start of the fun  */
/*  */
a {
    color: #95A4AF; 
}
a:hover {
    color: #F6F6F7;
}
.homepage {
    display: flex;
    flex-direction: column;
    
    width: 100vw;
    height: 100vh;
    min-width: 450px;
    min-height: 450px;
    
    background-color: #1F2024;

    /* box-sizing: border-box;
    border: 2px solid red; */
}
.homepage-title {
    color: #7388DA;

    min-width: 450px;

    font-size: calc(1.7vh + 1.7vw);
    font-family: 'Black Han Sans', sans-serif;

    margin: auto;

    /* box-sizing: border-box;
    border: 2px solid red; */
}
.homepage-clones-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    min-width: 450px;
    height: 80%;
    width: 95%;
    margin: auto;
    
    background-color: #292B31;
    border-radius: 10px;

    /* box-sizing: border-box;
    border: 2px solid red; */
}
.homepage-clone-holder {
    display: flex;
    justify-content: center;
    position: relative;
    /* top: 1%; */
    width: 100%;
    height: 30%;
    /* padding: 50px; */
    color: #95A4AF;
    
    box-sizing: border-box;
    /* border: 2px solid green; */
}
.homepage-clone-card {
    background-color: #36383F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    position: absolute;
    min-width: 400px;
    /* max-width: 50%; */
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.5s ease-in;
    -webkit-perspective: 1000em;
    perspective: 1000em;

    /* box-sizing: border-box;
    border: 2px solid red; */
}
.homepage-clone-card:hover {
    transform: perspective(1000em) rotateY(180deg);
}
.homepage-clone-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0px 10px 8px #1F2024;
}
.homepage-clone-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0px 8px 8px #1F2024;
    transform: rotateY(180deg);
}
#netflix-logo{
    width: 20rem;
}
#google-logo{
    width: 20rem;
}
a {
    color: #95A4AF; 
}
a:hover {
    color: #F6F6F7;
}
#homepage-back-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid rgba(255, 0, 0, 0.363);
    border-radius: 4px;
}
#homepage-back-info h2{
    font-size: 2em;
    padding: .3em 0;
}

#homepage-back-info p{
    margin: 0 4px;
    text-align: justify;
}

